<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f03adf40-0cd6-447c-882a-6dcaf70d7620/resourcegroups/CarRentalSystem2023ResourceGroup/providers/Microsoft.Web/sites/CarRentalSystem2023</ResourceId>
    <ResourceGroup>CarRentalSystem2023ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://carrentalsystem2023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>carrentalsystem2023.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CarRentalSystem2023</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$CarRentalSystem2023</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=carrentalsystemdbserver.database.windows.net,1433;Initial Catalog=CarRentalSystem_db;User ID=rental;Password=Password@01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CarRentalSystem.Models.ApplicationDbContext, CarRentalSystem" MigrationConfiguration="CarRentalSystem.Migrations.Configuration, CarRentalSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=carrentalsystemdbserver.database.windows.net,1433;Initial Catalog=CarRentalSystem_db;User ID=rental;Password=Password@01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>